.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 10rem;
  transition: transform 0.11s;
}

.card:hover {
  transform: scale(1.01);
}

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 3px;
  padding: 1rem;
}

.image {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #aeaeae;
  width: 100%;
  height: auto;
  font-size: 1rem;
  line-height: 1.7rem;
}

.name h1 {
  font-size: 1.5rem;
  color: #fff;
}

.card:hover .remove {
  opacity: 1;
}

.remove {
  display: block;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.5;
  transition: opacity 0.11s;
  margin: 0.5rem;
}
